.header {}
.header__top {
	
	background-color: $bg;
}
.header__top-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
}
.header__logo {
	margin-right: auto;
	display: block;
	width: 199px;
	max-width: 100%;
	img{
		width:100%;
	}
}
.header__top-btn {
	display: block;
	font-size: 14px;
	color: #FFFFFF;
	padding: 11px 18px;
	background-color: $blue;
	box-shadow: 0px 4px 10px #0000001A;
	border-radius: 18px;
	margin-right: 50px;

}
.header__top-notification {
	margin-right: 46px;
	a{
		position: relative;
		display: inline-block;
		height: 20px;
		width: 20px;
		img{
			width: 100%;
		}
		&:after{
			content: '';
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -16px;
			right: -15px;
			min-width: 22px;
			height: 22px;
			border-radius: 50%;
			font-weight: 500;
			font-size: 14px;
			color: #fff;
		}

	}
	& a + a{
		margin-left: 30px;
	}
	.header__top-alarm:after{
		content: '25';
		min-width:26px;
		background-color: #FF6A6C;
	}
	.header__top-envelope:after{
		content: '6';
		background-color: #62D03B;
	}
	.header__top-cart:after{
		content: '2';
		background-color: $blue;
	}
	.header__top-cart{
		img{
			padding-top: 1px;
		}
	}
}
.header__top-profile {
	display: flex;
	align-items: center;
}
.header__top-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	margin-right: 22px;
	img{

	}
}
.header__top-name {
	a{
		font-size: 16px;
		font-weight: 500;
		color: #333333;
		display: block;
		line-height: 22px;
	}
}
.header__top-balanc {
	font-size: 15px;
	color: $blue;
	line-height: 22px;
}
.header__menu {}